@(block: Block)(implicit ctx: PrismicHelper.Context)

<div class="banner" style="background-image: url(@block.banner.map(_.main.url)); width:100%">
    <div class="banner-heading">
        @block.heading.map { heading =>
            @Html(heading.asHtml(ctx.linkResolver))
        }
    </div>
</div>
<div class="bannerQuote-container">
	@block.bannerQuote.map { bannerQuote =>
	    <blockquote class="bannerQuote-quote">@bannerQuote</blockquote>
	}
	@block.bannerAuthor.map { bannerAuthor =>
	    <figcaption class="bannerQuote-author">@bannerAuthor</figcaption>
	}
</div>
<div class="content-formatting col2"> 
    @block.content.map { content =>
        @Html(content.asHtml(ctx.linkResolver))
</div> 
}


